In [1]:
import os
import pandas as pd
from sqlalchemy import create_engine
import string

In [8]:
def conn_sql_server():
    db = create_engine('mssql+pyodbc://@LAPTOP-1QBNGCK1/cyclistic?trusted_connection=yes&driver=ODBC+Driver+17+for+SQL+Server')
    return db

In [9]:
engine = conn_sql_server()
conn = engine.connect()

In [4]:
folder_path = 'A:\Data Science\Projects\Google Data Analyst\Cyclistic - Bikeshare\Data'
count = 0
for root,_,files in os.walk(folder_path):     
    if (root.endswith('tripdata')):
        file_url = os.path.join(root,files[0])
        table_name = 'tripdata'+((os.path.splitext(files[0])[0])[0:6])
        df = pd.read_csv(file_url)
        count+=1
        df.to_sql(table_name,conn,index = False,if_exists = 'replace')
        print(count)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [12]:
conn.close()